@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.activeHeader.line2 {
  visibility: hidden;
}
.activeHeader.line3 {
  width: 25px;
  transform: translateY(-14px) rotate(45deg);
}
.activeHeader.line1 {
  transform: rotate(-45deg);
}

.btn-search {
  pointer-events: painted;
  position: absolute;
  right: 0px;
}
.desktop-search {
  border: 1px solid gray;
}
.desktop-search::placeholder {
  padding-left: 0.5rem;
  font-size: 12px;
}

.desktop-search:focus {
  width: 200px;
  background-color: transparent;
  padding-left: 1rem;
  border: 1px solid gray;
  transition: all 200ms ease-out;
  outline: none;
}
.orange-links li {
  position: relative;
}
.orange-links li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(253, 60, 51);
}
.orange-links li:hover::before {
  width: 100%;
}

.footer__headings {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  position: relative;
  z-index: 0;
}
.footer__headings::before {
  content: "";
  position: absolute;
  background-color: rgb(253, 60, 51);
  width: 25px;
  bottom: 0;
  left: 0;
  height: 2px;
}
.footer__headings::after {
  content: "";
  position: absolute;
  background-color: rgb(253, 60, 51);
  width: 15px;
  bottom: -6px;
  left: 0;
  height: 2px;
}
.sign-up-title {
  position: relative;
}
.sign-up-title::before {
  content: "";
  width: 55px;
  height: 4px;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgb(253, 60, 51);
}

@media screen and (max-width: 308px) {
  .fixedByQuerie {
    padding-bottom: 6rem;
  }
}

.active {
  position: relative;
  background-color: rgba(229 231 235);
}
.active::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  background: rgb(253, 60, 51);
  left: -8px;
  border-radius: 5px;
  top: 0;
}

/* Image profile hover effect */
.profilepic {
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #111;
}
.profilepic:hover .profilepic__content {
  opacity: 1;
}

.profilepic:hover .profilepic__image {
  opacity: 0.5;
}
.profilepic__image {
  object-fit: fill;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.profilepic__icon {
  color: white;
  padding-bottom: 8px;
}
.profilepic__text {
  text-transform: uppercase;
  font-size: 14px;
  width: 50%;
  text-align: center;
}

/* Arrow up */

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid rgb(243 244 246);
}
